/*
Theme:      Core Theme for Aquae, Nox, & Lux Roam themes
Version:    1.2.2
By:         Cal Robert Lee (https://www.calrobert.com/)

Fixes:      - searchbar results z-index
            - topbar icon positions when selecting search

Notes:      - Thanks to the supportive people on r/RoamResearch, GitHub and Twitter!
            - I have been changing a lot of thing in my professional career! Which is the reason for some of the delays
            - Super excited to have been selected to be on RoamResearch's Official theme's page!
            - To install visit: https://github.com/calrobertlee/roam-css-styles
*/


/*---------------------------------- 
    #BASIC FONTS   
------------------------------------*/
.rm-title-textarea,
.roam-body .roam-app h1.rm-title-display { /* page title */
    font-weight: 500;
    font-size: 40px;
    font-family: var(--main-font);
    color: var(--title-color) !important;
}
.flex-h-box.window-headers .level2 a { /* right sidebar page title */
    font-weight: 300;
    font-size: 1em;
    font-family: var(--main-font);
    color: var(--ref-title-color) !important;
}
.roam-body .roam-app h1 { /* h1 */
    font-family: var(--main-font);
    color: var(--header-color) !important;
}
.rm-level2 { /* h2 */
    font-weight: 500;
    font-size: 1.4em;
    font-family: var(--main-font);
    color: var(--header-color);
}
.rm-level3 { /* h3 */
    font-weight: 500;
    font-size: 1.15em;
    font-family: var(--main-font);
    color: var(--header-color);
}
.roam-app { /* main body */
    font-weight: 400;
    font-size: 1em;
    font-family: var(--main-font);
    color: var(--main-font-color) !important;
}
  
/*---------------------------------- 
    #LINKS
------------------------------------*/
.rm-page-ref--link { /* internal link color */
    color: var(--page-link-color);
}
.rm-page-ref--link strong{ /* bold link color */
    color: var(--page-link-color);
}
.rm-page-ref--link:focus,
.rm-page-ref--link:hover {  /* internal link hover state */
    color: var(--page-link-color);
    text-decoration: none;
}
.rm-page-ref__brackets { /* brackets */
    color: var(--page-bracket-color);
}
.roam-app a { /* external link */
    color: var(--external-link-color);
    text-decoration: none;
}
.roam-app a:focus,
.roam-app a:hover { /* external link hover */
    color: var(--external-link-hover-color);
}

/*---------------------------------- 
    #ALIAS LINKS
------------------------------------*/
span [style*="background-color: rgb(235, 241, 245);"] {
    background-color: #00000000 !important;        
}
span [style*="color: rgb(245, 86, 86);"] {
    color: var(--page-link-color) !important;
}
span:hover [style*="color: rgb(245, 86, 86);"] {
    color: var(--alias-hover-color) !important;
}
span [style*="padding: 4px 6px;"] { /* alias padding to match body text */
    padding: 0px 0px !important;
}

/*---------------------------------- 
    #TAGS
------------------------------------*/
  .rm-page-ref--tag {
    color:  var(--tag-font-color )!important;
    font-weight: 400;
    background-color: var(--tag-bg-color);
    border-radius: var(--tag-border-radius);
    border: var(--tag-border);
    padding: var(--tag-padding);
    text-decoration: none;
  }
  .rm-page-ref--tag:hover {
    color: var(--tagHover-font-color) !important;
    font-weight: 400;
    background-color: var(--tagHover-bg-color);
    border-radius: var(--tag-border-radius);
    border: var(--tagHover-border);
    padding: var(--tag-padding);
    text-decoration: none;
  }

/*---------------------------------- 
    #HIGHLIGHTS   
------------------------------------*/
.rm-highlight { /* text highlighting */
    background-color: var(--highlight-background-color);
    color: var(--highlight-font-color);
    border-radius: 0px;
    padding: var(--highlight-padding);
}
.rm-highlight .rm-page-ref--link { /* highlighted link color */
    color: var(--highlight-link-color);
}
.block-highlight-blue { /* block selection */
    background-color: var(--block-highlight);
}
.block-highlight-yellow { /* block highlight */
    background-color: var(--block-highlight-bg);
}
.rm-embed-container { /* embed block highlight */
    background-color: var(--embed-container-bg);
}

/*---------------------------------- 
    #BULLETS & NEST LINE
------------------------------------*/
.rm-bullet__inner { /* bullet */
    border-radius: 50%;
    width: 5px;
    height: 5px;
    background-color: var(--bullet-color);
}
.rm-bullet.rm-bullet--closed .rm-bullet__inner { /* collapsed bullet */
    background-color: var(--bullet-color);
    border: 4px solid var(--bullet-closed-border-color);
}
#right-sidebar .rm-bullet.rm-bullet--closed .rm-bullet__inner { /* collapsed bullet */
    background-color: var(--bullet-color);
    border: 4px solid var(--bullet-closed-border-color);
}
/* nest diagram line */
.rm-multibar {
    border-color: var(--multibar);
}
.rm-multibar:hover {
    border-right: 1px solid var(--theme-blue-1);
    width: calc(1px + calc(1px - -5px));
}

/*---------------------------------- 
    #TODO 
------------------------------------*/
.checkmark { /* todo */
  position: absolute;
  top: var(--checkmark-top);
  left: var(--checkmark-left);
  height: var(--checkmark-height);
  border-radius: var(--checkmark-border-radius);
  width: var(--checkmark-width);
  border: var(--checkmark-border);
  background-color: var(--checkmark-bg-color);
}
.check-container input:checked ~ .checkmark { /* done */
  position: absolute;
  top: var(--checkmark-top);
  left: var(--checkmark-left);
  height: var(--checkmark-height);
  border-radius: var(--checkmark-border-radius);
  width: var(--checkmark-width);
  border: var(--checkedmark-border);
  background-color: var(--checkedmark-bg-color);
}
.check-container .checkmark:after { /* done check symbol */
  left: 3.5px;
  top: 0.25px;
  width: 6px;
  height: 10px;
  border: var(--checkmark-color);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(40deg) scale(0.8);
}

/*---------------------------------- 
    #CODE
------------------------------------*/
code { /* inline code */
background: var(--code-bg);
color: var(--code-font-color);
border: var(--code-border);
border-radius: var(--codemirror-border-radius);
}
.CodeMirror { /* code block */
border: 1px solid var(--codemirror-border-color);
border-radius: var(--codemirror-border-radius);
background: var(--codemirror-bg) !important;
color: var(--main-font-color) !important;
}
.Codemirror-code {
padding-left: 12px !important;
}
div.CodeMirror-selected { /* selected color */
background: var(--block-highlight) !important;
}
.CodeMirror-gutters {
background: var(--bg-color);
padding-right: 12px;
border-right: 1px solid var(--bg-color);
}
.CodeMirror-cursor {
border-left: 2px solid var(--bullet-color) !important;
}
/*_TOGGLE--  Matching bracket like Atom  --*/
.CodeMirror-matchingbracket {
color: var(--main-font-color) !important;
border-bottom: 1px solid var(--code-matchingbracket-color);
}
/*_TOGGLE--  Matching bracket like Visual Studio Code  --*/
/*
.CodeMirror-matchingbracket {
color: var(--main-font-color) !important;
border: 1px solid var(--icon-color-hover);
background: #3c3c3c;
}
*/
.CodeMirror-linenumber {
    color: var(--codemirror-linenumber) !important;
    font-family: monospace !important;
    left: 0px !important;
}
span.cm-comment {
    color: var(--cm-comment) !important;}
span.cm-def {
    color: var(--cm-def) !important;}
span.cm-keyword {
    color: var(--cm-keyword) !important;}
span.cm-variable.cm-callee {
    color: var(--cm-callee) !important;}
span.cm-operator {
    color: var(--cm-operator) !important;}
span.cm-builtin {
    color: var(--cm-builtin) !important;}
span.cm-string {
    color: var(--cm-string) !important;}
span.cm-variable-3 {
    color: var(--cm-variable-3) !important;}
span.cm-variable-2 {
    color: var(--cm-variable-2) !important;}
span.cm-variable {
    color: var(--cm-variable) !important;}
span.cm-tag {
    color: var(--cm-tag) !important;}
span.cm-property {
    color: var(--cm-property) !important;}
span.cm-number {
    color: var(--cm-number) !important;}
span.cm-atom {
    color: var(--cm-atom) !important;}
span.cm-qualifier {
    color: var(--cm-qualifier) !important;}

/*---------------------------------- 
    #ENCRYPTED BLOCK   
------------------------------------*/
.rm-encrypted-block {
    color: var(--encrypted-font-color);
    background-color: var(--encrypted-bg);
    font-size: var(--encrypted-font-size);
    border-radius: var(--encrypted-border-radius);
    padding: var(--encrypted-padding);
    font-weight: var(--encrypted-font-weight);
  }
.rm-encrypted-block .rm-encrypted-passphrase {
    display: inline;
    cursor: pointer;
}
/*---------------------------------- 
    #REFERENCES   
------------------------------------*/
.rm-reference-container .flex-h-box > div:nth-child(3) strong { /* "Linked/Unlinked References" reference block header */
    color: var(--reference-header-color);
    border-bottom: 1px solid var(--reference-header-underline-color);
}
.flex-h-box strong[style*="color: rgb(206, 217, 224);"] { /* "Linked/Unlinked References" reference block header */
    color: var(--reference-header-color) !important;
    border-bottom: 1px solid var(--reference-header-underline-color);
}
#right-sidebar .flex-h-box > div:nth-child(2) strong { /* Right sidebar bold links color */
    color: var(--main-font-color);
}
.rm-reference-item { /* footer reference box apperance */

    background-color: var(--reference-item-bg);
    border-radius: var(--reference-item-border-radius);
    border: var(--reference-item-border)
}

/*---------------------------------- 
    #APP MAIN
------------------------------------*/
body { /* main bg color */
    background-color: var(--body-bg);
}
.roam-log-container .roam-log-page { /* divider color in daily notes */
    border-top: 1px solid var(--divider-color);
}

/*---------------------------------- 
    #APP WIDTH & PADDING    
------------------------------------*/
.roam-block-container { /* increases width of text containers */
    max-width: 100% !important;
}
.rm-block-text { /* increases width of body text */
    max-width: 85%;
}
div.roam-center > div:first-child[style*="padding-right: calc((100% - 568px) / 2);"] {
    padding-right: calc((100% - 900px) / 2) !important;
}
div.roam-center > div:first-child[style*="padding-left: calc((100% - 1032px) / 2);"] {
    padding-left: calc((100% - 900px) / 2) !important;
}
.roam-body .roam-app .roam-body-main {
    flex: 0 0 calc(100% - 0px) !important;
}
.roam-body .roam-app .roam-main .roam-article {
    position: relative;
    padding: 55px 42px 120px;
}

/*---------------------------------- 
    #DATEPICKER
------------------------------------*/
.bp3-icon-calendar {
    border: none;
}
.bp3-datepicker { /* modal padding */
    background: var(--datepicker-bg);
    padding: 6px;
}
.bp3-html-select .bp3-icon { /* month and year double carrots */
    color: var(--datepicker-bg);
}
  /* month back and forth bg color */
button.bp3-button.bp3-minimal.DayPicker-NavButton.DayPicker-NavButton--next,
button.bp3-button.bp3-minimal.DayPicker-NavButton.DayPicker-NavButton--prev {
    background: var(--datepicker-bg) !important;
}
  /* month back and forth carrot color / outside month date color */
span.bp3-icon.bp3-icon-chevron-left,
span.bp3-icon.bp3-icon-chevron-right,
.bp3-datepicker .DayPicker-Day.DayPicker-Day--outside {
    color: var(--datepicker-altfont-color);
}
  /* month and year hover state */
.bp3-html-select.bp3-minimal select:hover, .bp3-select.bp3-minimal select:hover {
    background: #0073f9;
    color: white;
}
.bp3-datepicker .DayPicker-Weekday abbr[title]{ /* abbreviated day titles */
    border-bottom: none;
    font-size: 13px;
    color: var(--datepicker-altfont-color);
    cursor: default;
}
.bp3-datepicker-caption+.bp3-divider { /* divider */
    border-bottom: none;
}
.bp3-datepicker .DayPicker-Day > div:first-child { /* date appearances */
    line-height: 1.15em;
    font-size: 14px;
    font-weight: 600;
}
.bp3-datepicker .DayPicker-Day:hover { /* hover background color */
    background: #0073f9;
    color: white;
}
  /* today bg color */
.bp3-datepicker .DayPicker-Day.DayPicker-Day--isToday .bp3-datepicker-day-wrapper {
    background: var(--datepicker-day-wrapper);
}
.bp3-html-select select, .bp3-select select {
    color: var(--main-font-color);
}

/*---------------------------------- 
    #POPUP MENUS
------------------------------------*/
  /* right/top toolbar popover menu */
  .bp3-popover .bp3-popover-content,
  .bp3-menu {
    background: var(--inline-search-bg);
    color: var(--popover-font-color);
    border-radius: 4px;
  }
  /* right/top toolbad popover hover */
  .bp3-menu-item:hover, .bp3-submenu .bp3-popover-target.bp3-popover-open >.bp3-menu-item{
    background-color: var(--search-selected-row) !important;
  }
  .bp3-popover .bp3-popover-arrow-fill {
    fill: var(--inline-search-bg) !important;
  }
  .bp3-popover .bp3-popover-arrow-border {
    fill:white !important;
  }
  .bp3-elevation-3 { /* forward slash popup */
    background-color: var(--inline-search-bg) !important;
    border-radius: var(--inline-search-border-radius);
    border: var(--inline-search-border);
    box-shadow:0px 4px 22px #00000035;
  }
  .bp3-elevation-3 .dont-unfocus-block[style*="background-color: rgb(213, 218, 223);"],
  .bp3-popover-content .flex-v-box.rm-menu-item[style*="background-color: rgb(213, 218, 223);"]  { /* selected row color */
    background-color: var(--search-selected-row) !important;
  }
  .bp3-elevation-3 .dont-unfocus-block span[style*="color: rgb(129, 145, 157);"] { /* June 2020 added icons in popover menu */
    color: var(--icon-color) !important;
  }
  .bp3-popover .bp3-popover-content button.bp3-button { /* popover buttons */
    background:  var(--inline-search-button-bg-color)!important;
    color: var(--main-font-color);
  }
  .bp3-text-overflow-ellipsis { /* foward slash popup text color */
      color: var(--popover-font-color);
  }
  .bp3-popover-content .flex-h-box strong{ /* bold text color in popovers for "Includes" & "Removes" */
    color: #DCDEDD !important;
    border-bottom: none !important;
  }
  
/*---------------------------------- 
    #ALL PAGES
------------------------------------*/
  /* all page search input bg color */
  .bp3-input.bp3-round.bp3-minimal.search-input {
      background-color: hsl(0, 0%, 98%) !important;
  }
  /* row dividers */
  .rm-all-pages .table .rm-pages-row {
      border-bottom: 1px solid var(--allpage-bottom-border-color);
  }
  /* unchecked checkbox bg color */
  .bp3-control.bp3-checkbox .bp3-control-indicator {
      background: var(--checkmark-bg-color);
      border: none;
  }

  /* checked appearance */
  .bp3-control input:checked ~ .bp3-control-indicator {
      background: var(--checkedmark-bg-color);
      box-shadow: inset 0 0 0 1px rgba(253, 5, 5, 0.0), inset 0 -1px 0 rgba(222, 78, 5, 0.0);
  }
  .sorted-header-text {
      color: var(--main-font-color);
  }
  /* current sort carrot color */
  .sorting-button-group .sort-button.focused {
      color: #3d71ff;
  }
  .rm-clickable-pill {
      opacity: 1;
      background-color: var(--pages-mentions-level-bg);
      color: var(--pages-mentions-font-color); /*text color */
  }
  .rm-clickable-pill.level1-pill { /* newly added—in June 2020—all pages mentions counter */
      opacity: 1;
      background-color: var(--pages-mentions-level1-bg);
      color: var(--pages-mentions-font-color); /*text color */
  }
  .rm-clickable-pill.level2-pill { /* newly added—in June 2020—all pages mentions counter */
      opacity: 1;
      background-color: var(--pages-mentions-level2-bg);
      color: var(--pages-mentions-font-color); /*text color */
  }
  .rm-all-pages .table .rm-pages-row .rm-pages-col {
      color: var(--main-font-color);
  }
  .rm-pages-row:first-child { /* styles color of all pages header */
    background-color: var(--pages-header-row) !important;
  }
  
/*---------------------------------- 
    #KANBAN & TABLES
------------------------------------*/
.kanban-board {
    padding: 12px;
    border: var(--kanban-board-border);
    border-radius: var(--kanban-board-border-radius);
    background-color: var(--kanban-board-bg);
}
.kanban-board .kanban-column-container {
    display: flex;
    overflow-x: scroll;
}
.kanban-column {
    cursor: pointer;
    flex: 1 0 200px;
    flex-wrap: nowrap;
    margin: var(--kanban-column-margin);
    padding: 4px;
    min-width: 200px;
    background-color: var(--kanban-column-bg);
}
.kanban-card {
    margin: 6px;
    padding: 8px;
    background-color: var(--kanban-card-bg);
    color: var(--kanban-card-font-color);
    border-radius: var(--kanban-card-border-radius);
    border: var(--kanban-card-border);
}
  
/*--- Table ---*/
.roam-table th, .roam-table td, .roam-table tr {
    border: var(--table-border);
}
